.products-admin {
  margin-top: 60px;
  padding: 2rem;

  .form-agregar,
  .lista-productos {
    margin-top: 2rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 12px;
  }

  input,
  textarea {
    max-width: 96%;
    margin-inline: auto;
    margin-block: 0.5rem;
    display: block;
    padding: 0.5rem;
    width: 100%;

  }

  button {
    margin: 0.5rem 0.25rem;
    padding: 0.4rem 1rem;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background-color: #555;
    }
  }

  // .productosExistentes {
  //   display: flex;
  // }
  .lista-productos {
    .productsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      justify-items: center;
      .producto-item {
        max-width: 320px;
        border-bottom: 1px solid #ddd;
        padding: 1rem 0;
      }
    }
  }
}
