@use '@styles/styles' as *;

.products-page {
  // margin-top: 60px;
  padding: 2rem;
  text-align: center;
  min-width: 320px;
  color: $font-color;
  @include fadeIn;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  // Filtro de categoría
  .category-filter {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .category-select {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;

    option {
      border: none;
    }
  }

  .category-chips {
    display: none;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;

    .chip {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      background-color: #f0f0f0;
      border-radius: 20px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        background-color: #d9eaff;
        border-color: #00bcd4;
        color: #00bcd4;
      }

      &.active {
        background-color: #00bcd4;
        color: white;
        border-color: #00bcd4;
        font-weight: bold;
      }
    }
  }

  // Media queries
  @media (max-width: 800px) {
    .category-filter {
      display: block;
    }

    .category-select {
      display: none;
    }

    .category-chips {
      display: flex;
      justify-content: center;
    }
  }

  // Grid de productos
  .products-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    animation: fadeIn 0.4s ease-in;
  }

  // Tarjeta de producto
  .product-card {
    height: 100%;
    background-color: #f8f6ff;
    color: #333;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      max-width: 100%;
      height: 130px;
      object-fit: contain;
      margin-bottom: 0.5rem;
    }

    h3 {
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }

    p {
      font-weight: bold;
      margin-bottom: 1rem;

      span {
        margin: 0 0.5rem;
      }
    }

    .button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 0.5rem;
      margin-top: 1rem;

      .btn-detail {
        background-color: transparent;
        color: #00bcd4;
        border: 1px solid #00bcd4;
        padding: 0.4rem 0.8rem;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
          background-color: #00bcd4;
          color: white;
        }
      }

      .btn-add {
        background-color: #198754; //#00bcd4;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        transform-origin: center;

        &:hover {
          background-color: #0097a7;
        }

        &.added {
          animation: scaleFade 0.5s ease forwards;
          background-color: #198754;
          color: white;
          cursor: not-allowed;
        }

        &:disabled {
          background-color: #198754;
          cursor: not-allowed;
        }
      }
    }

    @keyframes scaleFade {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      50% {
        opacity: 0.7;
        transform: scale(1.2);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:hover {
      transform: translateY(-12px);
    }
  }

  // Ajustes móviles específicos
  @media (max-width: 500px) {
    .product-card {
      padding: 1rem;
      img {
        height: 100px;
      }

      h3 {
        font-size: 1rem;
      }
      .container-price-rating {
        display: flex;
        align-items: center;
        justify-content: space-around;
        p {
          font-size: 0.9rem;
        }
      }

      .button-container {
        flex-direction: column;
        align-items: center;

        .btn-detail,
        .btn-add {
          width: 100%;
        }
      }
    }
  }
}

// Info de paginación
.pagination-info {
  margin: 2rem 0 1rem;
  text-align: center;
  font-size: 1rem;
  color: #333;

  strong {
    color: #00bcd4;
  }
}

// Controles de paginación
.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;

  button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    background-color: #00bcd4;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover:not(:disabled) {
      background-color: #0097a7;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
