/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  margin-top: 60px;
  min-width: 320px;
  background-color: #eef2e4;
}
