html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #e5e4ee;
}

.App-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.main-content {
  min-width: 320px;
  /* padding: 2rem 1rem; */
}
